.modal-overlay {
  display: none; /* Hide by default */
  position: absolute;
  top: 100%; /* This positions the modal right below the button */
  left: 0;
  /* other styling as needed */
}

.modal-overlay.open {
  display: block; /* Show when the modal is open */
  
}


@media screen and (max-width: 500px) {
  .make_thinner_ground_status{
    width: 200px !important;

  }
  
  
}