.ArticlesPageBox {
  background-color: black;
  padding: 20px;
  overflow: hidden;
  margin-top: 7%;
}
.Left {
  float: left;
}
.Right {
  float: right;
}
.BoxOfEachArticle {
  margin-top: 20px;
  display: flex;
  border: 1px solid white;
  width: 60%;
}
.ArticleImgBox {
  padding: 20px;
  width: 400px;
}
.img {
  width: 100%;
  max-width: auto;
  height: auto;
}
.ArticleTextBox {
  color: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .ArticlesPageBox {
    padding: 40px;
  }
  .BoxOfEachArticle {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .ArticleImgBox,
  .ArticleTextBox {
    padding: 10px;
  }
  .ArticlesPageBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Left,
  .Right {
    float: none;
  }
  .ArticlesPageBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    overflow: hidden;
    margin-top: 12%;
  }

  .BoxOfEachArticle {
    width: 348px;
    padding: 10px;
  }
  .ArticleImgBox,
  .ArticleTextBox {
    padding: 5px;
  }
  .img {
    width: 310px;
    margin-left: 5px;
  }
  .ArticleTextBox {
    gap: 10px;
  }
}
