.ArticlesPageBox {
  min-height: 100vh; /* Ensure the component covers at least the viewport height */
  background-color: black; /* Set your desired background color */
  padding: 20px;
  overflow: hidden;
  /* border: 1px solid red; */
}

.Left {
  float: left;
  /* border: 1px solid red; */
}

.Right {
  float: right;
}

.BoxOfEachArticle {
  margin-top: 20px;
  display: flex;
  border: 1px solid white;
  width: 60%;
}

.ArticleImgBox {
  padding: 20px;
  width: 400px;
}

.img {
  width: 100%; /* Make image width responsive */
  max-width: auto; /* Adjust max-width as necessary */
  height: auto; /* Maintain aspect ratio */
}

.ArticleTextBox {
  color: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 500px) {
  .ArticlesPageBox{
    /* border: 2px solid green; */
    padding: 40px;
  }
  .BoxOfEachArticle {
    width: 100%;
    padding: 10px;
    /* border: 1px solid red; */
    flex-direction: column; /* Stack image and text vertically on smaller screens */
    /* width: 445px; Use the full width of the container */
  }

  .ArticleImgBox, .ArticleTextBox {
    padding: 10px; /* Reduce padding on smaller screens */
  }
.ArticlesPageBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  .Left, .Right {
    float: none; /* Remove float for smaller screens */
  }
}

@media (max-width: 480px) {
  .ArticlesPageBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 408px;
    padding: 10px;
    overflow: hidden;
     /* Further reduce padding for very small screens */
  }

.BoxOfEachArticle{
  width: 348px;
  padding: 10px;
}

  .ArticleImgBox, .ArticleTextBox {
    padding: 5px; /* Minimal padding on very small screens */
  }

  .img {
    width: 310px; 
    margin-left: 5px;
  }

  .ArticleTextBox {
    gap: 10px; /* Reduce gap between text elements */
  }
}
