@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

.ComplexBodyBox {
  /* margin-top: 50px; */
  padding: 100px 150px;
  /* border: 1px solid red; */
}
.for_comfort {
  margin-top: 0px;
  /* border: 1px solid green; */
  /* text-align: center; */
}

.motionBox {

  border: 1px solid white;
}

.infoFieldOfComplexsPlansMaps {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
}
.filter_cont_for_complexes {
  margin-bottom: 40px;
}

.complexInfoAndCountShowBox {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}

.projectsPlansMapsSortingAndDollarBox {
  display: flex;
  align-items: center;

  gap: 20px;
}

.mapAndLogoImg {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid red; */
}

.textButtonContainer:hover .textButton {
  /* color: aqua; */
  cursor: pointer;
}

.textButton {
  display: inline-block;
  /* padding: 10px 20px; */
  font-size: 16px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.mapSignLogo {
  width: 30px;
}

.sortAndArrowDownImgBox {
  display: flex;
  gap: 10px;
  background-origin: padding-box;
  /* border: 1px solid red; */
}

/* /////////////////////////////// */
.menu-transition {
  transition: transform 0.3s ease-in-out; /* Adjust duration and easing as needed */
  transform-origin: top center; /* Set the transform origin */
  transform: scaleY(0); /* Initially set the scale to 0 to hide the menu */
}
.menu-open {
  transform: scaleY(1); /* Set the scale to 1 to show the menu */
}
/* /////////////////////////////// */

.currencyBox {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.sort_text {
  display: none;
}
/* classes of toggle button on currency --- */
.switch {
  width: 90px;
  height: 40px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: black;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;

  /* border: 1px solid red; */
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  /* border-radius: 50px; */
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-sign {
  width: 27px; /* Adjust width as needed */
  height: auto;
  margin-right: 0px; /* Add spacing between the images */
}

.currency-sign.active {
  display: none; /* Hide inactive currency sign */
}
/* ------------- */

.allCards {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding: 0 30px; */
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.card {
  /* border: 1px solid red; */
  width: 315px;
  /* height: 400px; */
  /* background-color: #C1D6CC; */
  background-color: black;
  border: 1px solid white;
  overflow: hidden;
  padding: 20px 20px;
  border-radius: 10px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.heartbuttonAndImageBox {
  position: relative;
  text-align: center;
  /* border: 1px solid green; */
}

.heartButtonBox {
  /* border: 1px solid red; */
  width: 250px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-top: 5px;
}

.heartButtons {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  display: flex;
  align-items: center;
}

.heartButtons:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.textinfo_and_company_logo {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.company_logo_3 {
  margin-top: 10px;
  width: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

.textInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
  width: 300px;
  font-family: "Roboto", sans-serif;
}

.price_and_value {
  display: flex;
}

.complex_status_on_card {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-top: 10px;
}

.company_logo_on_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.complex_status_in_card {
  margin-left: 30px;
}

.googleMapImageBox {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.google_map {
  height: 358px;
  width: 1074px;
  /* background-position: 100%; */
}

.homepage_serch_button_complexpage {
  background-color: transparent;
  color: #f1eeee; /* Change to the color you need */
  border: none;
  padding: 10px 20px; /* Adjust padding to match the size in the photo */
  text-transform: uppercase; /* If the text is meant to be uppercase */
  font-weight: bold; /* If the font is bold in the photo */
  border-radius: 5px; /* Adjust the border-radius to match the button corners in the photo */
  font-size: 16px; /* Adjust font size to match the photo */
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Adjust or remove shadow as needed */
  transition: background-color 0.3s ease; /* For a hover effect */
  align-items: end;
  margin: 0 5px; /* Adds space between the buttons */
  margin-top: 0px;
}

.homepage_serch_button_complexpage:hover {
  background-color: transparent; /* Color when hovered, adjust as needed */
  color: black;
}

.close_cont {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 13px;
  padding-top: 65px;
}
.filter_icon_for_links {
  /* width: 30px; */
  background-color: wheat;
  border-radius: 50%;
  display: none;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------modal close button styles------------------------------------------ */
.modal_close_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  border: none;
  background: white;
  color: #222;
  padding: 15px;
  box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026,
    0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025,
    0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023,
    0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020,
    0 13.646761411524492px 13.646761411524492px -3.125px #0000001b,
    0 30px 30px -3.75px #0000000d;
  font-weight: bold;
  font-family: Montserrat;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 150ms ease-in-out;
  border-style: solid; /* This line is necessary */
  border-color: aliceblue;
  border-width: 1px;
  margin-top: 30px;
}

.modal_close_button:hover {
  scale: 0.95;
  background: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px,
    rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px,
    rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px,
    rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
}

@media screen and (max-width: 500px) {
  .numbers_link {
    border: none;
    display: flex;
  }
  .title {
    font-size: 15px;
    display: flex;
    gap: 15px;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* border: 1px solid blue; */
  }
  .filter_icon_for_links {
    display: block;
  }
  .ComplexBodyBox {
    padding: 20px;
    /* border: 1px solid green; */
  }
  .mapAndLogoImg {
    display: none;
  }
  .filter_cont_for_complex {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
  }
  .komplex_text {
    font-size: 14px;
  }
  .switch {
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
  }
  .currencyBox {
    /* width: 60px; */

  }
  .sortAndArrowDownImgBox {
    font-size: 12px;
  }
  .sort_text {
    display: block;
  }
  .sort_text_web {
    display: none;
  }
  .card {
    padding: 10px 10px;
  }
  .google_map {
    width: 200px;
  }
  .projectsPlansMapsSortingAndDollarBox {
    gap: 5px;
  }
  .close_cont {
    display: none;
  }
  .filter_cont_for_complex {
    gap: 10px;
  }
  .textInfo {
    padding-left: 20px;
  }
  .infoFieldOfComplexsPlansMaps {
    /* width: 340px; */
    display: flex;
    /* justify-content: center; */
    padding-left: 0;
    /* font-size: 10px; */
  }
}


/* ---------- M O D A L S ------------ */

.min_price_complex {
  color:#FFFFFF;
  background-color: transparent;
  border-style: hidden;
  border: 3px solid transparent;
  /* Additional styling to ensure the input field blends well with your design */
  background-color: transparent; /* Light background for visibility */
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.min_price_complex:focus{
  outline: none;
  /* Optionally, change border or add shadow on focus */
  box-shadow: 0 0 5px rgb(161, 193, 202);
}

.min_price_complex::placeholder{
  font-size: 15px; /* Larger text size */
  color: #999;
}

.meterPriceHomePageComplex {
  color: #FFFFFF;
  padding-top: 25px;
}


/* Remove spin buttons for Webkit browsers like Chrome and Safari */
.min_price_complex::-webkit-outer-spin-button,
.min_price_complex::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spin buttons for Mozilla Firefox */


/* Remove spin buttons for MS Edge */
.min_price_complex::-ms-clear,
.min_price_complex::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Remove spin buttons and clear button for Internet Explorer */
.min_price_complex::-ms-clear {
  display: none;
}