/* .imageOfBuilding {
  width: 200px;
} */

.ComplexBodyBox {

  margin-top: 50px;
  padding: 0 30px;
}

.allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 0 30px; */
  gap: 40px;
  margin-bottom: 100px;
  
 
}


.card {
  width: 315px;
  height: 400px;
  background-color: #C1D6CC;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 20px;
}

.textInfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
  gap: 10px;
}