.complex_page_div {
  padding: 0 80px;
  margin-top: 8%
}
.for_comfort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 0px;
}
.column_div_for_comfort {
  flex-direction: column;
}
.flex_end {
  width: 40%;
  margin-top: 20px;
}
.complex_dard_1{
  width: 255px;
}
.motionBox {
  border: 1px solid white;
  margin-top: 20px;
}
.forPaddingOfInfoFieldOfComplexsPlansMaps {
  padding: 15px;
}
.infoFieldOfComplexsPlansMaps {
  display: flex;
  justify-content: space-between;
}
.complexInfoAndCountShowBox {
  display: flex;
  align-items: center;
}
.projectsPlansMapsSortingAndDollarBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.project_div_parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.projects_name {
  color: white;
  font-size: 17px;
}
.line_sizes {
  width: 25px;
  height: 5px;
}
.arrow_for_complex {
  display: none;
}
.sort_icon_for_complex_mob {
  display: none;
}
.mapAndLogoImg {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.styles_for_top_map {
  height: 33px;
  width: 159px;
  gap: 7px;
  padding-right: 80px;
  padding-left: 18px;
  flex-shrink: 0;
  border: 1.5px solid #ada9a9;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.map_styles {
  display: flex;
  align-items: center;
  width: 120px;
}
.textButtonContainer:hover .textButton {
  cursor: pointer;
}
.textButton {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}
.mapSignLogo {
  width: 30px;
}
.sortAndArrowDownImgBox {
  display: flex;
  gap: 10px;
  background-origin: padding-box;
}

/* /////////////////////////////// */
.menu-transition {
  transition: transform 0.3s ease-in-out;
  transform-origin: top center;
  transform: scaleY(0);
}
.menu-open {
  transform: scaleY(1);
}
.currency-Box {
  width: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.sort_text {
  display: none;
}
.switch {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
}
.lari_and_dolari_style {
  width: 100px;
  height: 40px;
}
.switch[data-ison="true"] {
  justify-content: flex-end;
}
.handle {
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency-sign_homepage  {
  width: 27px;
  height: auto;
  margin-right: 0px;
}
.currency-sign.active {
  display: none;
}
/* ------------- */

.allCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card {
  width: 315px;
  background-color: black;
  border: 1px solid white;
  overflow: hidden;
  padding: 20px 20px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
.heartbuttonAndImageBox {
  position: relative;
  text-align: center;
}
.heartButtonBox {
  width: 260px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.heartButtons {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  display: flex;
  align-items: center;
}

.heartButtons:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.company_title_on_card {
  color: #f1eeee;
  text-align: center;
}

.textinfo_and_company_logo {
  display: flex;
  margin-top: 10px;
}
.company_logo_3 {
  width: 40px;
  border-radius: 50%;
  margin-left: 30px;
}
.textInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
.price_and_value {
  display: flex;
}
.complex_status_on_card {
  font-weight: 100;
  margin-top: 10px;
}
.company_logo_on_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.complex_status_in_card {
  margin-left: 30px;
}
.googleMapImageBox {
  display: flex;
  justify-content: center;
}
.google_map {
  height: 358px;
  width: 1074px;
}
.homepage_serch_button_complexpage {
  background-color: transparent;
  color: #f1eeee;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  align-items: end;
  margin: 0 5px;
  margin-top: 0px;
}
.homepage_serch_button_complexpage:hover {
  background-color: transparent;
  color: black;
}
.close_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin-top: 20px;
}
.find_map_div {
  width: 100%;
  width: 78%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 60px;
}
.filter_icon_for_links {
  background-color: wheat;
  border-radius: 50%;
  display: none;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------modal close button styles------------------------------------------ */
.modal_close_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: none;
  background: white;
  color: #222;
  padding: 15px;
  box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026,
    0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025,
    0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023,
    0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020,
    0 13.646761411524492px 13.646761411524492px -3.125px #0000001b,
    0 30px 30px -3.75px #0000000d;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 150ms ease-in-out;
  border-style: solid;
  border-color: aliceblue;
  border-width: 1px;
  margin-top: 30px;
}
.modal_close_button:hover {
  scale: 0.95;
  background: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px,
    rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px,
    rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px,
    rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
}
.currencyBox {
  display: flex;
  align-items: center;
}
.sort_text {
  display: none;
}
.switch {
  width: 80px ;
  height: 40px ;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}
.switch[data-ison="true"] {
  justify-content: flex-end;
}
.handle {
  width: 35px ;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency-sign {
  width: 22px ;
  color: #000;
  height: auto;
  margin-right: 0px;
}
.currency-sign.active {
  display: none;
}

@media screen and (max-width: 500px) {
  .complex_page_div {
    margin-top: 15%;
  }
  .numbers_link {
    border: none;
    display: flex;
  }
  .title {
    font-size: 15px;
    display: flex;
    gap: 15px;
  }
  .filter_icon_for_links {
    display: block;
  }
  .ComplexBodyBox {
    padding: 20px;
  }
  .mapAndLogoImg {
    display: none;
  }
  .filter_cont_for_complex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
  }
  .komplex_text {
    font-size: 14px;
  }
  .sortAndArrowDownImgBox {
    font-size: 12px;
  }
  .sort_text {
    display: block;
  }
  .sort_text_web {
    display: none;
  }
  .card {
    padding: 10px 10px;
  }
  .google_map {
    width: 100%;
  }
  .close_cont {
    display: none;
  }
  .filter_cont_for_complex {
    gap: 10px;
  }
  .infoFieldOfComplexsPlansMaps {
    display: flex;
    padding-left: 0;
  }
  .currency-sign.active {
    display: none;
  }
  .sort_icon_for_complex {
    display: flex;
    align-items: center;
  }
  .projectsPlansMapsSortingAndDollarBox {
    gap: 5px;
    display: flex;
    align-items: center;
  }
  .forPaddingOfInfoFieldOfComplexsPlansMaps {
    padding: 10px;
  }
  .project_div_parent,
  .sort_hide_resp {
    display: none;
  }
  .arrow_for_complex,
  .sort_icon_for_complex_mob {
    display: block;
  }
  .sort_icon_for_complex_mob {
    display: flex;
    align-items: center;
  }
  .styles_for_top_map {
    display: flex;
    flex-direction: row;
    display: block;
    align-items: center;
    display: block;
  }
  .mapAndLogoImg {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .textButton {
    display: block;
  }
  .close_cont {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .find_map_div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .gap_short {
    width: auto !important;
  }
  .map_styles {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .complex_page_div {
    padding: 0 10px;
  }
  .for_comfort {
    padding: 20px;
    flex-direction: column;
    position: absolute;
    z-index: 11111111;
    background-color: black;
    right: 0px;
  }
  .allCards {
    position: relative;
    margin-top: 20px;
  }
  .column_div_for_comfort {
    display: none;
  }
  .motionBox {
    border: none;
  }
}

/* ---------- M O D A L S ------------ */

.min_price_complex:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(161, 193, 202);
}

.min_price_complex::placeholder {
  font-size: 15px;
  color: #999;
}
.meterPriceHomePageComplex {
  color: #ffffff;
  padding-top: 25px;
}
.min_price_complex::-webkit-outer-spin-button,
.min_price_complex::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.min_price_complex::-ms-clear,
.min_price_complex::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.min_price_complex::-ms-clear {
  display: none;
}

.min_price_complex {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  width: 150px;
  border-style: hidden;
  background-color: transparent;
  padding: 10px;
}
.min_price_complex:focus {
  outline: none;
  border: none;
}
.min_price_complex::placeholder {
  font-size: 15px;
  color: #999;
}


