.developers_main_container {
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7%;
  /* border: 1px solid green; */
}
.startDiv {
  /* border: 2px solid green; */
}
.headerCont {
  display: flex;
  align-items: start;
  justify-content: start;
  color: #fcfcfc;
  font-size: 12px;
  letter-spacing: 0.11em;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}
.settings_container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 10px;
  letter-spacing: 0.05em;
}

.companyes_header {
  color: aliceblue;
  height: 36px;
  top: 88px;
  left: 71px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.11em;
  text-align: left;
  margin-bottom: 70px;
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
  /* border: 10px solid blue; */
}
/* ---------------------------developer cards cstyles ------------------------------------------- */
.developers {
  /* height: 190px; */
  padding: 20px;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
}

.developers_child_container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.company_logo {
  width: 110px;
  border-radius: 50%;
}

/* .settings_container {
  font-family: "Noto Sans", sans-serif;
} */

.company_background_image {
  height: 170px;
  margin-right: 30px;
}

/* ----------------------------------------------------------------------------------------------------- */
/*----------------------------- string input styles ------------------------------------- */
.lacation_button {
  display: flex;
  width: 210px;
  height: 33px;
  padding: 5px 12.928px 5px 7px;
  align-items: center;
  gap: 43px;
  flex-shrink: 0;
  /* border: 1.5px solid #ada9a9; */
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
  letter-spacing: 1.76px;
  position: relative;
  /* border: 1px solid ridge; */
}

.dropdown {
  position: absolute;
  margin-left: 80%;
}

.lacation_button_for_word {
  flex-shrink: 0;
}

/* ----------------------------------------------------------------------------------------------- */

@media screen and (max-width: 500px) {
  .developers_main_container {
    margin-top: 15%;
    padding: 15px;
  }
  .startDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerCont {
    justify-content: center;
    font-size: 10px;
  }
  .developers {
    width: 340px;
    height: 160px;
    gap: 15px;
    align-items: center;
    padding: 10px;
  }
  .second_developers_child_container {
    width: 130px;
    /* width: auto; */
    /* border: 1px solid green; */
  }
  .company_background_image {
    /* border: 1px solid red; */
    width: 130px;
    /* width: 50%; */
    height: 100px;
    /* margin-right: 0; */
    /* padding: 10px; */
  }
  .developers_child_container {
    /* border: 1px solid green; */
    gap: 15px;
    /* flex-direction: column; */
  }
  .company_logo {
    width: 50px;
  }
  .companyes_header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .settings_container {
    font-size: 13px;
    gap: 15px;
    /* margin-left: 2px; */
  }
  .company_background_image {
    /* width: 100%; */
    /* border: 1px solid green; */
    /* padding: 0; */
  }
}
