@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* EachBlog.css */
.blog_container {
  margin: 20px;
  text-align: center;
  color: aliceblue;
}

.blog_image {
  float: left;
  margin: 5px;
  width: 800px;
  margin-right: 40px;
}

.blog_text {
  text-align: justify;
  font-size: 25px;
}
