.company_page {
  width: 100%;
  color: aliceblue;
}
.company_main_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company_background_image_container {
  width: 100%;
  position: relative;
  background-size: cover;
}
.company_background_image_big {
  width: 100%;
  max-height: 450px;
}
.responsive_logo {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
  top: -100px;
}
.company_logo_round {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.colo_name_and_others {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -60px;
  position: relative;
  top: -110px;
}
.cpmpany_name_and_settings {
  width: 87%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.all_settings_company_1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.socials_box {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about_each_company {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  gap: 30px;
}
.currency_and_allcomplex_header {
  display: flex;
  align-items: center;
  gap: 60px;
}
.company_adddresss {
  font-size: medium;
  font-weight: 300;
}
.email_and_website_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.company_all_logos {
  width: 33px;
  height: 33px;
}
.about_company_header {
  font-weight: 500;
}

/* ---------------------------card styles ------------------------------ */

.allCards_each_company {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.card_each_company {
  width: 315px;
  height: 400px;
  background-color: black;
  border: 1px solid white;
  overflow: hidden;
  padding: 20px 20px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.heartbuttonAndImageBox_each_company {
  position: relative;
}

.heartButtonBox_each_company {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.heartButtons_each_company {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  display: flex;
  align-items: center;
}

.heartButtons_each_company:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.textInfo_each_company {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
  gap: 10px;
}

.companys_complexes_container {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* --------------------------------------------------currency styles  -------------------------------------------- */

.currencyBox {
  display: flex;
  align-items: center;
}
.switch {
  width: 70px;
  height: 30px;
  background-color: black;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency-sign {
  width: 20px; 
  height: auto;
  margin-right: 0px; 
}

.currency-sign.active {
  display: none; 
}
/* ------------- */

@media screen and (max-width: 500px) {
  .company_main_page {
    width: 100%;
  }
  .company_background_image_big {
    height: 300px;
  }
  .responsive_logo {
    top: -60px;
    justify-content: center;
  }
  .company_logo_round {
    width: 100px;
    height: 100px;
  }
  .colo_name_and_others {
    margin-top: 40px;
  }
  .cpmpany_name_and_settings {
    height: 200px;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
  }
  .socials_box {
    flex-direction: column;
    gap: 4px;
  }
  .all_settings_company_1 {
    width: 100%;
    font-size: px;
  }
  .colo_name_and_others {
    margin-top: 3px;
  }
  .email_and_website_container {
    gap: 5px;
    font-size: 14px;
  }
  .about_each_company {
    margin-top: -100px;
    padding: 15px;
  }
  .currency_and_allcomplex_header {
    justify-content: space-between;
  }
  .companys_complexes_container{
    padding: 0;
  }
  .allCards_each_company {
    justify-content: center;
    margin-top: 20px;
  }
  .card{
    padding: 15px;
  }
  .heartButtonBox_each_company {
    width: 98%;
  }
  .switch{
    width: 50px;
    height: 25px;
  }
  .handle{
    height: 25px;
    width: 22px;
  }
  .currency-sign{
    font-size: 10px;
  }

}
