.eachComplexBoxn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}

.imageAndTextInfos4 {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  /* border: 1px solid red; */
}
/* .apart_class_image{ */
  /* border: 40px solid goldenrod; */
  /* display: none; */
/* } */
.imageSliderBox {
  /* border: 1p solid red; */
  display: flex;
  flex-direction: column;
  position: relative;
}

/* #lands_image{ */
  /* width: 700px; */
  /* width: 711px; */
  /* position: relative; */
/* } */

.miniImagesBox {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 23px;
  justify-content: center;
  position: absolute;
  top: 371px;
  left: 119px;
  border: 3px solid red;
  background-color: rgba(9, 170, 22, 0.01);
}

.thumbnail {
  border: 2px solid white;
}

.thumbnail:hover {
  cursor: pointer;
}

.enlarge {
  border: 2px solid white;
  transform: scale(
    1.2
  ); /* Increase the size of the image when the "enlarge" class is applied */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* .clicked {
  scale: 1.1;
} */

.complexTextsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 40px;
}

.seenIdFavouriteAndOthersBox {
  /* color: white; */
  display: flex;
  /* justify-content: space-around; */
  /* gap: 50px; */
  justify-content: space-between;
  /* border: 2px solid green; */
}

.seenAndIdBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.favouriteDollarAndShareBox {
  display: flex;
  gap: 20px;
}

.chabarebaPartebiKorpusebi {
  width: 160px;
  display: flex;
  gap: 30px;
}

.room_details {
  display: flex;
}

.room_details_headers {
  width: 80px;
}

/* .room_details_child{
  margin-left: 5px;
} */

.eachTextOnListTextsOne {
  display: flex;
  flex-direction: column;
}

.eachTextOnListTextsTwo {
  display: flex;
  flex-direction: column;
}

.numberAndCallRequestBox {
  display: flex;
  gap: 20px;
}

.numberBox {
  border: 1px solid white;
  padding: 11px 10px;
  /* width: 274px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}

.numberSHowButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: white;
  appearance: none;
  display: flex;
  align-items: center;
}

.numberSHowButton:hover {
  cursor: pointer;
}

.callRequestBox {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  padding: 11px 10px;
}

.binebiDaGegmarebaFullBox {
  padding: 0 30px;
}

.firstBoxOfBinebi {
  display: flex;
  justify-content: space-between;
}

.paddingForEachComplexCardBox {
  padding: 0 50px;
}

.shidaInformaciaIconebisBox {
  padding: 30px 80px;
  background-color: rgb(182, 175, 175);
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.eachDivBoxOfIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stylesOfIconsOnEachComplex {
  width: 40px;
}

.inprastruqturisIconsBigBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inprastruqturisIconsBox {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.textBoxOfH4axloMdebareObieqtebi {
  margin-top: 50px;
  padding: 0 100px;
}

.axloMdebareObieqtebiBox {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
}

.textBoxOfAxloMdebare {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.iconAndItsText {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .boxOfMapOnAxloMdebare { */
/* color: white; */
/* width: 300px;
  height: 100px; */
/* } */

.googlePhotoOnEachComplexPage {
  width: 774px;
  height: 232px;
}
@media screen and (max-width: 500px) {
  .imageAndTextInfos {
    /* border: 1px solid red; */
    flex-direction: column;
  }
  .miniImagesBox {
    width: 335px;
    align-items: center;
    display: none;
    /* margin-top: -100px; */
    /* margin-left: -200px; */
  }
  /* .numberAndCallRequestBox {
    flex-direction: column;
  } */
  /* .bigImageBox {
    width: 340px;
  } */
  /* .eachComplexBox {
    border: 2px solid yellow;
    width: 100%;
  } */
  /* #lands_image{
    display: none;
    width: 340px;
  } */
}
