
.bigImageBox {
  width: 711px;

}
.imageSliderBox {
  display: flex;
  flex-direction: column;
  position: relative;
}

.miniImagesBox {
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 371px;
  position: absolute;
  left: 136px;
}

.thumbnail {
  border: 2px solid white;
}

.thumbnail:hover {
  cursor: pointer;
}

.enlarge {
  border: 2px solid white;
  transform: scale(1.2); /* Increase the size of the image when the "enlarge" class is applied */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* .clicked {
  scale: 1.1;
} */