/* -------------------------------about and map container styles---------------------------------- */
.about_and_map_P{
  margin-top: 50px;
  color: aliceblue;
}

.aboud_and_map_child_container_P{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_land_header_P{
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.about_land_P{
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;

}

.child_map_container_P{
  width: 800px;
  height: 200px;
  
}