.footer_container{
  width: 100%;
  background-color: none;
  height: 40px;
  margin-top: 40px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.footer_settings_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.each_setting{
  margin-bottom: 10px;
}

.name_and_facebook{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_and_facebook{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.website_name{
  color: rgb(83, 83, 83);
}


.website_links_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-right: 80px;
}


.facebook_logo{
  cursor: pointer;
}


@media screen and (max-width: 500px) {

.footer_settings_container{
  flex-direction: column;
  
}

.footer_stting{
  margin-bottom: 30px;
}

.name_and_facebook{
  justify-content: center;
  gap: 20px;
}
.website_links_container{
  margin-right: 0px;
}


}