
.main_foto {
  background-image: url('../icons/mainfoto.png');
}

.adgilicomportistvis {
  text-align: center;
  font-family: 'BPG Rioni', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 52.22px;
  letter-spacing: 10%;
  color: #FFFFFF;
}
