@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&family=Young+Serif&display=swap');


.main_map{
  background-color: black;
  height: 100vh;
}


.infowindow_img{
  width: 200px;
  height: 400px;
  object-fit: contain;
}


.map_cont{
  margin-top: 46px ;
}


.filter_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 13px;
}


/* -------------------------------space button stules ------------------------------------------- */
.space_button{
  display: flex;
  width: 159px;
  height: 33px;
  padding: 5px 12.928px 5px 7px;
  align-items: center;
  gap: 43px;
  flex-shrink: 0;
  border: 1.5px solid #ADA9A9;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  position: relative;
}

.button-modal-container{
  position: relative;
}


/* ----------------------------------------------------------------------------------------------- */

/*----------------------------- location button styles ------------------------------------- */
.lacation_button{
  display: flex;
  width: 159px;
  height: 33px;
  padding: 5px 12.928px 5px 7px;
  align-items: center;
  gap: 43px;
  flex-shrink: 0;
  border: 1.5px solid #ADA9A9;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
  letter-spacing: 1.76px;
  position: relative;
}

.dropdown{
  position: absolute;
  margin-left: 80%;
}

/* ----------------------------------------------------------------------------------------------- */


/* 

                  <div>
                        <button onClick={handleShowModal} className='lacation_button' >{handleStatusButtonLanguageChange(selectedLanguage).cityButtonLanguage}</button>
                        <Modal isOpen={isModalOpen} >
                          {renderModalContent()}
                        </Modal>
                  </div>
                  


                  <div>
                        <input
                            type="number"
                            placeholder='Min Price Per Square Meter'
                            value={minPricePerSquareMeter}
                            onChange={(e) => setMinPricePerSquareMeter(e.target.value)}
                        />

                          <input
                            type="number"
                            placeholder='Max Price Per Square Meter'
                            value={maxPricePerSquareMeter}
                            onChange={(e) => setMaxPricePerSquareMeter(e.target.value)}
                        />
                  </div>


                  <div>
                      <input
                        type="number"
                        placeholder='Min Full Price'
                        value={minFullPrice}
                        onChange={(e) => setMinFullPrice(e.target.value)}
                    />

                      <input
                        type="number"
                        placeholder='Max Full Price'
                        value={maxFullPrice}
                        onChange={(e) => setMaxFullPrice(e.target.value)}
                        />
                  </div>  

      
                <div>
                  <button onClick={toggleSelect}>{handleStatusButtonLanguageChange(selectedLanguage).statusInfoLanguage}</button>
                  {showSelect && (
                    <select value={status} onChange={handleStatusChange}>
                          <option value=" ">{getStatusText("", selectedLanguage)}</option>
                          <option value="1">{getStatusText("1", selectedLanguage)}</option>
                          <option value="2">{getStatusText("2", selectedLanguage)}</option>
                          <option value="3">{getStatusText("3", selectedLanguage)}</option>
                      </select>
                  )}
                </div>

*/