@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&family=Young+Serif&display=swap');


.main_map{
  background-color: black;
  height: 100vh;
}


.infowindow_img{
  width: 200px;
  height: 400px;
  object-fit: contain;
}


.map_cont{
  margin-top: 46px ;
}


.filter_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 13px;
}


/* -------------------------------space button stules ------------------------------------------- */
.space_button{
  display: flex;
  width: 159px;
  height: 33px;
  padding: 5px 12.928px 5px 7px;
  align-items: center;
  gap: 43px;
  flex-shrink: 0;
  border: 1.5px solid #ADA9A9;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  position: relative;
}

.button-modal-container{
  position: relative;
  cursor: pointer;
}


/* ----------------------------------------------------------------------------------------------- */

/*----------------------------- location button styles ------------------------------------- */
.lacation_button{
  display: flex;
  width: 210px;
  height: 33px;
  padding: 5px 12.928px 5px 7px;
  align-items: center;
  gap: 43px;
  flex-shrink: 0;
  border: 1.5px solid #ADA9A9;
  mix-blend-mode: hard-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px; /* 0% */
  letter-spacing: 1.76px;
  position: relative;
}

.dropdown{
  position: absolute;
  margin-left: 80%;
}

/* ----------------------------------------------------------------------------------------------- */

/* ------------------------------------------chackbox button styles ------------------------------------ */
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border: 2px;
  
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  animation: jello-horizontal 0.9s both;
  
}

.checkmark:hover {
  animation: jello-horizontal 0.9s both;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  border: 4px;
  border-color: #FFF;
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(0, 0, 0);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid rgb(255, 255, 255);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.status_chackboxes{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

}


/* ----------------------------------------------------------------------------------------------- */

.text_modal_color{
  color: #FFF;
}


/* 

                  <div>
                        <button onClick={handleShowModal} className='lacation_button' >{handleStatusButtonLanguageChange(selectedLanguage).cityButtonLanguage}</button>
                        <Modal isOpen={isModalOpen} >
                          {renderModalContent()}
                        </Modal>
                  </div>
                  


                  <div>
                        <input
                            type="number"
                            placeholder='Min Price Per Square Meter'
                            value={minPricePerSquareMeter}
                            onChange={(e) => setMinPricePerSquareMeter(e.target.value)}
                        />

                          <input
                            type="number"
                            placeholder='Max Price Per Square Meter'
                            value={maxPricePerSquareMeter}
                            onChange={(e) => setMaxPricePerSquareMeter(e.target.value)}
                        />
                  </div>


                  <div>
                      <input
                        type="number"
                        placeholder='Min Full Price'
                        value={minFullPrice}
                        onChange={(e) => setMinFullPrice(e.target.value)}
                    />

                      <input
                        type="number"
                        placeholder='Max Full Price'
                        value={maxFullPrice}
                        onChange={(e) => setMaxFullPrice(e.target.value)}
                        />
                  </div>  

      
                <div>
                  <button onClick={toggleSelect}>{handleStatusButtonLanguageChange(selectedLanguage).statusInfoLanguage}</button>
                  {showSelect && (
                    <select value={status} onChange={handleStatusChange}>
                          <option value=" ">{getStatusText("", selectedLanguage)}</option>
                          <option value="1">{getStatusText("1", selectedLanguage)}</option>
                          <option value="2">{getStatusText("2", selectedLanguage)}</option>
                          <option value="3">{getStatusText("3", selectedLanguage)}</option>
                      </select>
                  )}
                </div>

*/