@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');




.ComplexBodyBox_physical {

  margin-top: 50px;
  padding: 100px 150px;
}

.motionBox_physical {
  border: 1px solid white;
}

.forPaddingOfInfoFieldOfComplexsPlansMaps_physical {
  padding: 0 30px;
} 

.infoFieldOfComplexsPlansMaps_physical {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;

}

.complexInfoAndCountShowBox_physical {
  display: flex;
  align-items: center;
}

.projectsPlansMapsSortingAndDollarBox_physical {
  display: flex;
  align-items: center;

  gap: 20px;
}

.mapAndLogoImg_physical {
  display: flex;
  align-items: center;
  justify-content: center;
}


.textButtonContainer_physical:hover .textButton {
  /* color: aqua; */
  cursor: pointer;
}

.textButton_physical {
  display: inline-block;
  /* padding: 10px 20px; */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;

}



.mapSignLogo_physical {
  width: 30px;
}

.sortAndArrowDownImgBox_physical {
  display: flex;
  gap: 10px;
}


/* /////////////////////////////// */
.menu-transition {
  transition: transform 0.3s ease-in-out; /* Adjust duration and easing as needed */
  transform-origin: top center; /* Set the transform origin */
  transform: scaleY(0); /* Initially set the scale to 0 to hide the menu */
}
.menu-open {
  transform: scaleY(1); /* Set the scale to 1 to show the menu */
}
/* /////////////////////////////// */


.currencyBox_physical {
  /* height: 50px; */
  display: flex;
  align-items: center;


}

/* classes of toggle button on currency --- */
.switch_physical {
  width: 90px;
  height: 40px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: black;

  display: flex;
  justify-content: flex-start;  
  align-items: center;
  border: 1px solid white;

  /* border: 1px solid red; */
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  /* border-radius: 50px; */
}



.switch_physical[data-ison="true"] {
  justify-content: flex-end;
}

.handle_physical {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-sign_physical {
  width: 27px; /* Adjust width as needed */
  height: auto;
  margin-right: 0px; /* Add spacing between the images */
}

.currency-sign_physical.active {

  display: none; /* Hide inactive currency sign */
}

/* ----------------------------------filter container  styles ---------------------------------------------- */
.filter_cont_for_physical{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 50px;
}





/* ------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------pagination container styles ---------------------------------------------- */

.pagination{
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
}


/* ------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------string filtration input styles ---------------------------------------------- */
.string_filter_input {
  background-color: transparent; /* Make background transparent */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  color: #fffcfc; /* Set text color to black, adjust as needed */
  /* Add other styling here */
}

.string_filter_input::placeholder {
  color: rgb(201, 201, 201); /* Set placeholder text color to white */
  opacity: 1; /* Optional: ensures full opacity of placeholder */
}

.dropdown{
  width: 20px;
}

/* ---------------------------------------room number chackboxes----------------------------------------------------- */
.room_choice_container{
  margin-top: 10px;
  
}

.checkbox-label {
  padding: 5px 10px;
  margin: 0 5px;
  color: #f0f0f0;
  cursor: pointer;
}

.checkbox-label:hover {
  background-color: #fffbfb;
  color: #000;
}

.checkbox-label.selected {
  background-color: #fcfeff;
  color: rgb(0, 0, 0);
}

input[type="checkbox"] {
  display: none; /* Hide the checkbox */
}

/* ------------------------------------------------------------------------------------------------------------- */



.allCards_physical {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 0 30px; */
  gap: 29px;
  margin-top: 50px;
  margin-bottom: 100px;
  
 
}


.card_physical {
  width: 315px;
  height: 400px;
  /* background-color: #C1D6CC; */
  background-color: black;
  border: 1px solid white;
  /* border-radius: 20px; */
  overflow: hidden;
  padding: 20px 20px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.heartbuttonAndImageBox_physical {
  position: relative;
  
}

.heartButtonBox_physical {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;

}

.heartButtons_physical {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  display: flex;
  align-items: center;
}

.heartButtons_physical:hover {
  cursor: pointer;
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
/* ----------------------------------card info styles---------------------------------------------------- */
.company_title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  font-family: 'Roboto', sans-serif;
}

.city_settings{
  font-family: 'Roboto', sans-serif;

}

.price_settings{
  font-family: 'Roboto', sans-serif;

}

.status_settings{
  font-family: 'Roboto', sans-serif;
  color: #868282;
}


.textInfo_physical {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
  gap: 10px;
}

.private_apartment_rank{
  color: #f0f0f0;
}

.status_and_rank{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}



/* ------------------------------------------------------------------------------------------------------- */

.googleMapImageBox_physical {
 display: flex;
 justify-content: center;
}

.googleMapImage_physical {
  height: 358px;
  width: 1074px;
}




