@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.SalesBox {
  margin-top: 50px;
  /* border: 1px solid red; */
  /* min-height: 100vh; Ensure the component covers at least the viewport height */
  background-color: black; /* Set your desired background color */
  /* padding: 20px; */
  overflow: hidden;
}

.forPaddingOfsalesNavBar {
  /* border: 1px solid green; */
  padding: 0 90px;
}

.infoFieldOfSalesAndSoOn {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 40px;
}

.boxOftitleOfActionAndOffers {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.titleOfActionAndOffers {
  color: white;
}

.allSaleGiftAndInstallmentBox {
  /* border: 1px solid blue; */
  display: flex;
  gap: 105px;
}
.eachSectionBox {
  display: flex;
  gap: 10px;
}

.eachSectionBox:hover {
  cursor: pointer;
  scale: 1.1;
  transform: 0.3sec;
}

.buttonOfEachSection {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: white;
}

.percentIstallmentImg {
  width: 23px;
}

.giftImg {
  width: 30px;
}

.saleArticlesBox {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ------------------------------------------------------------- */
.eachSaleArticleBox {
  border: 1px solid white;
  padding: 20px;
  display: flex;
  gap: 10px;
  color: white;
  width: 700px;
}

.eachSaleArticleBox2 {
  /* border: 1px solid blue; */
  padding: 20px;
  display: flex;
  /* gap: 10px; */
  color: white;
}
.saleArticleInfoText {
  width: 400px;
}
.timeAndCompanyLogo {
  display: flex;
  justify-content: space-between;
}

.company_logo_sales {
  width: 28px;
  border-radius: 50%;
}

.saleTimeBox {
  display: flex;
  align-items: center;
  color: gray;
}

.logoOfPercentAndCOmpany {
  display: flex;
  gap: 5px;
}

.SaleArticleImageBox {
  margin-left: 34px;
}

.microphoneAndItsInfoText {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.navigateAndItsInfoText {
  display: flex;
  gap: 22px;
  margin-top: 22px;
}

.imageOfSaleComplex {
  width: 200px;
}

/* ----------------------------modal styles---------------------------------------- */
.close_sale_modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}
.whole_sale_omdal_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid green; */
}

.close_icon_sale {
  width: 40px;
  cursor: pointer;
}

.sale_modal_container_main {
  /* border: 1px solid blue; */
  /* height: 600px; */
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.image_for_sale_modal {
  width: 500px;
  /* border: 1px solid green; */
}

.image_company_for_sale_modal {
  width: 80px;
  border-radius: 50%;
}

.address_and_address {
  display: flex;
}

.selected_promotion_alert {
  max-width: 350px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.microfon_logo_and_alert {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  gap: 10px;
  max-height: 100px; /* Adjust this value to fit your design */
  overflow-y: auto; /* Enables vertical scrolling */
  margin-bottom: 15px;
  margin-right: 10px;
}

/* ----------------------------scroll style---------------------------- */
/* Style the scrollbar itself (in webkit browsers) */
.microfon_logo_and_alert::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  background-color: #2e2e2e; /* Background color of the scrollbar */
}

/* Style the track of the scrollbar */
.microfon_logo_and_alert::-webkit-scrollbar-track {
  background-color: #2e2e2e; /* Background color of the track */
}

/* Style the handle of the scrollbar */
.microfon_logo_and_alert::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  border: 3px solid #2e2e2e; /* Creates a padding around the scroll thumb */
}

/* Handle on hover */
.microfon_logo_and_alert::-webkit-scrollbar-thumb:hover {
  background-color: #3d3c3c; /* Color of the scrollbar thumb on hover */
}

/* ---------------------------------------------------------------------- */

.sale_settings_and_companylogo {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin-top: 30px;
}

.company_image_little_container {
  height: 100%;
  display: flex;
  justify-content: center;
}

/* .call_and_number_on_saleModal{
  
} */

.all_call_modal_buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 400;
}

.call_and_number_on_saleModal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.show_number_sale_modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1.5px solid white;
  overflow: hidden;
  padding: 5px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
  width: 256px;
  height: 56px;
}

.call_sale_modal {
  font-size: small;
}

.make_call_Sale_modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1.5px solid white;
  overflow: hidden;
  padding: 5px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
  width: 230px;
  height: 56px;
  cursor: pointer;
}

.hedaphone_ico_sale_modaln {
  width: 50px;
}

@media screen and (max-width: 500px) {
  .SalesBox {
    padding: 20px;
  }
  .forPaddingOfsalesNavBar {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .infoFieldOfSalesAndSoOn {
    padding: 0;
    align-items: center;
    /* width: 100%; */
    width: 340px;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .boxOftitleOfActionAndOffers {
    /* width: 340px; */
    text-align: center;
  }
  .allSaleGiftAndInstallmentBox {
    gap: 20px;
    font-size: 15px;
  }
  .saleArticlesBox {
    /* border: 1px solid blue; */
    padding: 0px;
  }
  .eachSaleArticleBox {
    width: 340px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* padding: 0; */
  }
  .eachSaleArticleBox2 {
    padding: 20px;
    /* border: 1px solid blue; */
  }
  .saleArticleInfoText {
    /* border: 1px solid green; */
    width: 330px;
    font-size: 14px;
  }
  .imageOfSaleComplex {
    width: 330px;
    /* padding: 0; */
  }
  .SaleArticleImageBox {
    width: 330px;
    /* padding: 0 ; */
    /* border: 1px solid blue; */
  }
  .SaleArticleImageBox {
    margin-left: 0;
  }
  .image_for_sale_modal {
    width: 100%;
    /* width: 340px; */
  }
  .whole_sale_omdal_content {
    /* padding: 0 0px; */
  }
  .call_and_number_on_saleModal {
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
  }
  .close_icon_sale {
    width: 20px;
  }
  .close_sale_modal {
    margin-top: -20px;
  }
  .image_for_sale_modal {
    /* border-radius: 20px; */
    margin-top: -10px;
  }
  .sale_settings_and_companylogo {
    flex-direction: column;
    /* border: 1px solid gray; */
  }
  .call_and_number_on_saleModal{
    /* border: 1px solid green; */
    align-items: center;
  }
}
