
.sheare__button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #000000;
  color: aliceblue;
  border: 1px solid #a8a8a8;
  z-index: 1000; /* Ensure it's above other content */
  /* Add more styling as needed */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
}
