@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&display=swap');

.main_storkhome_container {
  color: aliceblue;
  padding: 60px;
}



.storkhome_plus_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.storkhome_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300px;

}

.storkhome_plus_translatable {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
}

/* --------------------------------------card kit styles ----------------------------------------- */
.storkhome_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}


.storkhome_cards {
  width: 427.7px;
  height: 211px;
  top: 213px;
  left: 28px;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.kit {
  display: flex;
  justify-content: flex-end;
}


.logo_plus {
  margin-bottom: 13px;
}

.card_logo_and_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------- kit settings styles ----------------------------------------- */

.card_kit_settings_container {
  margin-top: 40px;
  gap: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.kit_settings_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------- call cntainer settings ----------------------------------------- */
.big_call_cont{
  display: flex;
  justify-content: center;
  align-items: center;
}


.make_call{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  width: 418.83px;
  height: 75px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(247, 247, 246)) 1;
}


.hedaphone_icon{
  width: 60px;
}


.call{

  background-color: black;
  color: aliceblue;

  
}





/* -------------------------------------------------------------------------------------------------- */
