.main_storkhome_container {
  color: aliceblue;
  padding: 60px;
  margin-top: 7%;
}
.storkhome_plus_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.storkhome_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300px;
}
.storkhome_plus_translatable {
  font-weight: 200;
}

/* --------------------------------------card kit styles ----------------------------------------- */
.storkhome_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.storkhome_cards {
  width: 427.7px;
  height: 211px;
  top: 213px;
  left: 28px;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(124, 124, 124)) 1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}
.kit {
  display: flex;
  justify-content: flex-end;
}
.logo_plus {
  margin-bottom: 13px;
}
.card_logo_and_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------- kit settings styles ----------------------------------------- */

.card_kit_settings_container {
  margin-top: 40px;
  gap: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kit_settings_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}

/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------- call cntainer settings ----------------------------------------- */
.big_call_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.make_call {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  width: 418.83px;
  height: 75px;
  border-style: solid;
  border-width: 2px;
 border-image: linear-gradient(45deg, rgb(3, 3, 3), rgb(124, 124, 124)) 1;
  cursor: pointer;
}

.hedaphone_icon {
  width: 60px;
}

.call {
  background-color: black;
  color: aliceblue;
}

/* -------------------------------------------------------------------------------------------------- */
/* -----------------------------------call modal styles---------------------------------------------- */

.call_modal_content {
  color: aliceblue;
}

.call_modal {
  height: 400px;
}

/* -------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 500px) {
  .main_storkhome_container {
    padding: 0;
    margin-top: 17%;
  }
  .storkhome_cards_container {
    width: 100%;
    flex-direction: column;
  }
  .storkhome_cards {
    width: 340px;
  }
  .textButtonCont {
    margin-bottom: 20px;
  }
  .make_call {
    width: 340px;
  }
  .storkhome_plus_container {
    display: flex;
    flex-direction: column;
    margin-top: 86px;
  }
  .column {
    font-size: 13px;
    gap: 4px;
  }
}
