.header {
  width: 100%;
  /* padding-top: 5px; */
  height: 84px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
  position: fixed; /* Make the header fixed */
  top: 0; /* Stick it to the top of the viewport */
  left: 0; /* Align it to the left */
  z-index: 1000; /* Set a high z-index to ensure it stays on top of other elements */
}
.header_logo_img {
  padding-top: 10px;
}
.line {
  width: 35px;
  height: 7px;
  border: 1px solid black;
  background-color: white;
  /* border-radius: 4px; */
}
nav ul {
  /* width: 888px; */
  display: flex;
  gap: 33px;
  /* justify-content: space-between; */
  list-style: none;
  font-size: 18px;
  padding: 0;
}
.row_reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15%;
}
.textButtonContainer:hover .buttonItemsOfList {
  cursor: pointer;
}

.buttonItemsOfList {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: white;
  /* margin-left: 40px; */
}
.downArrowImgAndDevelopersLinkBox {
  margin-left: 100px;
  margin-right: 20px;
}

.favouriteAndLanguageAndDayModeChanger {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-right: -20px; */
  /* justify-content: space-around; */
  /* border: 1px solid red; */
  /* width: 100px; */
}

.downArrowImgAndDevelopersLinkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heartBox {
  background-color: white;
  width: 30px;
  height: 30px;
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
}
.burger_menu_icon {
  display: none;
}
.heartLogoButton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  display: flex;
  align-items: center;
}

.heartLogoButton:hover {
  cursor: pointer;
}

.buttonItemsOfList {
  font-family: "Roboto", sans-serif;
}

/* 
.numberOfHeart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border-radius: 20px;
  background-color: white;
  height: 20px;
  text-align: center;
  position: absolute;
  margin-top: -32px;
  right: 118px;
  border: 2px solid;
  border: 1px solid black;
} */

/* ჯერ–ჯერობი იყოს და არ წაშალო.. Button რომ დავამატე div-ში, აღარ დამჭირდა სურათზე width–ის მითითება */

@media screen and (max-width: 500px) {
  .header {
    height: 60px;
    position: relative;
    position: fixed; /* Make the header fixed */
    top: 0; /* Stick it to the top of the viewport */
    left: 0; /* Align it to the left */
    z-index: 1000;
  }
  .burger_menu_icon {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    display: block;
    cursor: pointer;
  }

  .close {
    display: none;
  }
  nav ul {
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 30px;
    width: 230px;
  }
  .open {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 0;
    flex-direction: column;
  }
  .downArrowImgAndDevelopersLinkBox {
    display: none;
  }
  .heartBox {
    width: 33px;
    height: 33px;
  }
  .favouriteAndLanguageAndDayModeChanger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .header_logo_img {
    padding-top: 20px;
  }
}
