.header {
  height: 84px;
  background-color: #274235;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-right: 30px;
}

.LogoAndNavBar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 30px;
} 

nav ul {
  width: 888px;
  display: flex;
  justify-content: space-between; 
  list-style: none; 
  padding: 0; 
}

.buttonItemsOfList {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: white;
}

.buttonItemsOfList:hover {
  cursor: pointer;
  color: aquamarine;
}

.favouriteAndLanguageAndDayModeChanger {
  display: flex;
  align-items: center;
  gap: 40px;
}

.downArrowImgAndDevelopersLinkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartAndNumberBox {
  display: flex;
  position: relative;
}

.heartBox {
  background-color: white;
  width: 39px;
  height: 39px;
  border-radius: 20px;
  display: flex;
  justify-content: center;

}

.heartLogoButton {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    appearance: none;
    display: flex;
    align-items: center;
    /* Additional styles as needed */
  
}

.heartLogoButton:hover {
  cursor: pointer;
}

.numberOfHeart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  border-radius: 20px;
  background-color: white;
  height: 20px;
  text-align: center;
  position: absolute;
  border: 2px solid;
  left: 27px;
  /* background-color: red; */
}

/* ჯერ–ჯერობი იყოს და არ წაშალო.. Button რომ დავამატე div-ში, აღარ დამჭირდა სურათზე width–ის მითითება */
/* .heartLogo {
  width: 20.11px;
} */