.modal-content2 {
  background: rgb(0, 0, 0);
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 800vh;
  overflow-y: auto; /* Scroll if content is too tall */
}

